<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Presentation Solutions</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav mr-auto">
     <li class="nav-item dropdown">
       <a class="nav-link dropdown-toggle" id="navbarDropdownIssueLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Issues
       </a>
       <div class="dropdown-menu" aria-labelledby="navbarDropdownIssueLink">
         <a [routerLink]="['/newIssue']" class="dropdown-item">New Issue</a>
         <a [routerLink]="['/dashboard']" class="dropdown-item">All Issues</a>
         <a [routerLink]="['/myIssues']" class="dropdown-item">My Issues</a>
       </div>
     </li>
      <li class="nav-item"><a href="#" class="nav-link">Detailed Statistics</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Add Company</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Add Category</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Add Tag</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Go To Portal</a></li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item"><a href="#" class="nav-link">Login</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Logout</a></li>
    </ul>
  </div>
</nav>
