<p-menubar [model]="items"></p-menubar>

<div class="ui-g">
  <div class="ui-g-6">
    <div class="ui-g-12">
      <div class="ui-g-4">Company<span class="fa fa-asterisk"></span></div>
      <div class="ui-g-8">
        <p-dropdown class="ui-g-12"
                    [options]="companies"
                    [(ngModel)]="selectedCompany"
                    [filter]="true"
                    [required]="true"
                    [style]="{'width': '100%'}"
                    (onChange)="getUsers($event)"

        ></p-dropdown>
      </div>
    </div>
  <div class="ui-g-12">
    <div class="ui-g-4">User Email<span class="fa fa-asterisk"></span></div>
    <div class="ui-g-8">
      <p-dropdown class="ui-g-12"
                  [options]="users"
                  [(ngModel)]="selectedUser"
                  [filter]="true"
                  [required]="true"
                  [style]="{'width': '100%'}"
      ></p-dropdown>
  </div>
  </div>
</div>
</div>
