<p-menubar [model]="items"></p-menubar>

<div class="ui-g">
  <div class="ui-g-6">
    <div class="ui-g-12">
      <div class="ui-g-4">Company<span class="fa fa-asterisk"></span></div>
      <div class="ui-g-8">
        <p-dropdown class="ui-g-12"
                    [options]="companies"
                    [(ngModel)]="selectedCompany"
                    [filter]="true"
                    [required]="true"
                    [style]="{'width': '100%'}"
                    (onChange)="getUsers($event)"

        ></p-dropdown>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">User Email<span class="fa fa-asterisk"></span></div>
      <div class="ui-g-8">
        <p-multiSelect class="ui-g-12"
                       [options]="users"
                       [(ngModel)]="selectedUser"
                       [filter]="true"
                       [required]="true"
                       [style]="{'width': '100%'}"
                       placeholder="Select users"
        ></p-multiSelect>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">Completion Flag<span class="fa fa-asterisk"></span></div>
      <div class="ui-g-8">
        <p-dropdown class="ui-g-12"
                    [options]="completionFlags"
                    [(ngModel)]="completionFlag"
                    [filter]="true"
                    [required]="true"
                    [style]="{'width': '100%'}"
        ></p-dropdown>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">Category<span class="fa fa-asterisk"></span></div>
      <div class="ui-g-8">
        <p-dropdown class="ui-g-12"
                    [options]="categories"
                    [(ngModel)]="selectedCategory"
                    [filter]="true"
                    [required]="true"
                    [style]="{'width': '100%'}"
        ></p-dropdown>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">Description<span class="fa fa-asterisk"></span></div>
      <br>
      <br>
      <div #description>

      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">Upload related files</div>
      <br>
      <br>
      <p-fileUpload multiple="multiple" auto="true" name="relevantFiles[]" customUpload="true" (uploadHandler)="uploadBlob($event)">

      </p-fileUpload>
    </div>

  </div>
  <div class="ui-g-6">
    <div class="ui-g-12">
      <div class="ui-g-4">Assigned User<span class="fa fa-asterisk"></span></div>
      <div class="ui-g-8">
        <p-dropdown class="ui-g-12"
                    [options]="psUsers"
                    [(ngModel)]="selectedPsUser"
                    [filter]="true"
                    [required]="true"
                    [style]="{'width': '100%'}"
        ></p-dropdown>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">Application<span class="fa fa-asterisk"></span></div>
      <div class="ui-g-8">
        <p-multiSelect class="ui-g-12"
                       [options]="pslApplications"
                       [(ngModel)]="selectedPslApplication"
                       [filter]="true"
                       [required]="true"
                       [style]="{'width': '100%'}"
        ></p-multiSelect>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">Urgency State<span class="fa fa-asterisk"></span></div>
      <div class="ui-g-8">
        <p-dropdown class="ui-g-12"
                    [options]="urgnecyFlags"
                    [(ngModel)]="selectedUrgencyFlag"
                    [filter]="true"
                    [required]="true"
                    [style]="{'width': '100%'}"
        ></p-dropdown>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">Stock Responses<span class="fa fa-asterisk"></span></div>
      <div class="ui-g-8">
        <p-dropdown class="ui-g-12"
                    [options]="stockResponses"
                    [(ngModel)]="selectedStockResponse"
                    [filter]="true"
                    [required]="true"
                    [style]="{'width': '100%'}"
                    placeholder="Select a stock response"
        ></p-dropdown>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">Solution<span class="fa fa-asterisk"></span></div>
      <br>
      <br>
      <div #solution>

      </div>
    </div>
  </div>
</div>
