<!--search box-->
<div class="container-fluid">

  <div class="ui-widget-header">
    <span class="fa fa-search"></span>
    <input #gb type="text" pInputText size="50" placeholder="Global Filter">
  </div>

<!--Table-->
  <p-dataTable
    [value]="issues"
    [rows]="5"
    [paginator]="true"
    [pageLinks]="3"
    [rowsPerPageOptions]="[5,10,20,50,100]"
    [globalFilter]="gb"
    [loading]="loading"
  >
    <p-column field="personDtos" header="Company">
      <ng-template let-col let-issue="rowData" let-ri="rowIndex" pTemplate="body">
        <span>{{issue[col.field][0].companyName}}</span>
      </ng-template>
    </p-column>
    <p-column field="description" filterMatchMode="contains" header="Description">
      <ng-template let-col let-issue="rowData" let-ri="rowIndex" pTemplate="body">
        <span [innerHTML]="issue[col.field]"></span>
      </ng-template>
    </p-column>
  </p-dataTable>
</div>
